.aside__friends {
  padding-top: 15px;

  &-title {
    text-decoration: none;
    color: #545151;
    font-size: 30px;
    margin-left: 5px;

    &:hover {
      color: #a54545;
    }

    &.active {
      color: #c83f5a;
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  &-item {
    text-align: center;
  }

  &-image {
    border-radius: 50%;
    width: 100%;
  }

  &-load {
    grid-column: 1/4;
    text-align: center;
  }

}