.profile {
  &__image {
    width: 500px;
  }

  &__contacts {
    &-item {
      display: block;
    }
  }

  &__job {
    &-status {
      &--true {
        color: green;
      }

      &--false {
        color: red;
      }
    }
  }
}